<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Super Rentals Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <address>
    Super Rentals HQ
    <p>
      123 fake street<br>
      Anytown, USA 12345
    </p>
    <a href="tel:111.111.1111">+1 (111) 111-1111</a><br>
    <a href="fakeyfake@test.fake">fakeyfake@test.fake</a>
  </address>
  {{#link-to "about" class="button"}}
    About Us!
  {{/link-to}}
</div>